<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gimena Caminos Ph</title>
    
    <link rel="stylesheet" href="/css/home.css">
</head>
<body id="main">
<!--header con menu hamburguesa-->
    <header class="header">
        <div class="container">
            <!--menu hamburguesa-->
            <div class="btn-menu">
                <button class="hamburger-button" id="hamburger-button">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </button>        
             </div>
             <div id="menu">
                 <ul>
                     <li><a href="#">SOBRE MI</a></li>
                     <li><a href="#">SESIONES</a></li>
                     <li><a href="#">EVENTOS</a></li>
                     <li><a href="#">CONTACTO</a></li>   
                    </ul>
             </div>
            <div class="logo">
                <img src="/images/logo.jpg" alt="logo">
            </div>
        </div>
    </header>

    <main>
        <img class="bg-home" src="/images/bg-home.jpg" alt="imagen1">
    </main>
    <script src="/js/home.js"></script>
</body>
</html>